<div class="accordion-item">
    <h2 class="accordion-header" role="tab">
        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">
            {{ group.title }}
        </button>
    </h2>
    <div class="accordion-collapse collapse show item-1 flex-column justify-content-xxl-center align-items-xxl-end" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
            <div class="row">
                {% for component in group.components %}
                    {% include 'light.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>