<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Küche</h3>
</div>
<div class="accordion" role="tablist" id="accordion-1">
    <div class="accordion-item">
        <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Licht</button></h2>
        <div class="accordion-collapse collapse show item-1 flex-column justify-content-xxl-center align-items-xxl-end" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <div class="card w-30" style="margin-bottom: 2em;">
                            <div class="card-header">
                                <h4 class="fw-bold mb-0">Spüle</h4>
                                <h6>Licht Küche Spüle</h6>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col me-2" style="text-align: center;">
                                        <div class="d-flex justify-content-between">
                                            <div class="bs-icon-md bs-icon-rounded d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl gx-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell">
                                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                                                </svg></div>
                                            <div class="d-xl-flex justify-content-xl-end align-items-xl-center form-switch w-25"><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb-off text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg></span></button><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg></span></button></div>
                                        </div>
                                    </div>
                                </div>
                                <hr><span class="fw-bold">Helligkeit</span>
                                <div class="row">
                                    <div class="col flex-grow-0 w-auto"><i class="la la-circle-o"></i></div>
                                    <div class="col"><input class="form-range" type="range" step="25" min="0" max="100"></div>
                                    <div class="col flex-grow-0 order-last"><i class="la la-sun-o"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-bottom: 2em;">
                            <div class="card-header">
                                <h4 class="fw-bold mb-0">Garderobe</h4>
                                <h6>Licht Eingang Garderobe</h6>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col me-2" style="text-align: center;">
                                        <div class="d-flex justify-content-between">
                                            <div class="bs-icon-md bs-icon-rounded d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl gx-5"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-64 0 512 512" width="1em" height="1em" fill="currentColor">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM192 0C90.02 .3203 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.8 289.2 .0039 192 0zM288.4 260.1c-15.66 17.85-35.04 46.3-49.05 75.89h-94.61c-14.01-29.59-33.39-58.04-49.04-75.88C75.24 236.8 64 206.1 64 175.1C64 113.3 112.1 48.25 191.1 48C262.6 48 320 105.4 320 175.1C320 206.1 308.8 236.8 288.4 260.1zM176 80C131.9 80 96 115.9 96 160c0 8.844 7.156 16 16 16S128 168.8 128 160c0-26.47 21.53-48 48-48c8.844 0 16-7.148 16-15.99S184.8 80 176 80z"></path>
                                                </svg></div>
                                            <div class="d-xl-flex justify-content-xl-end align-items-xl-center form-switch w-25"><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb-off text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg></span></button><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb-off text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg></span></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-bottom: 2em;">
                            <div class="card-header">
                                <h4 class="fw-bold mb-0">Fenster</h4>
                                <h6>Fenster Küche Offen</h6>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col me-2" style="text-align: center;">
                                        <div class="d-flex justify-content-between">
                                            <div class="bs-icon-md bs-icon-rounded d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl gx-5"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M188.3 147.1C195.8 142.8 205.1 142.1 212.5 147.5L356.5 235.5C363.6 239.9 368 247.6 368 256C368 264.4 363.6 272.1 356.5 276.5L212.5 364.5C205.1 369 195.8 369.2 188.3 364.9C180.7 360.7 176 352.7 176 344V167.1C176 159.3 180.7 151.3 188.3 147.1V147.1zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"></path>
                                                </svg></div>
                                            <div class="d-xl-flex justify-content-xl-end align-items-xl-center form-switch w-25"><span class="fw-bolder">Ja</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-30" style="margin-bottom: 2em;">
                            <div class="card-header">
                                <h4 class="fw-bold mb-0">Fern Sehen</h4>
                                <h6>Wohnzimmer Szene Fern Sehen</h6>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col me-2" style="text-align: center;">
                                        <div class="d-flex justify-content-between">
                                            <div class="bs-icon-md bs-icon-rounded d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl gx-5"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M188.3 147.1C195.8 142.8 205.1 142.1 212.5 147.5L356.5 235.5C363.6 239.9 368 247.6 368 256C368 264.4 363.6 272.1 356.5 276.5L212.5 364.5C205.1 369 195.8 369.2 188.3 364.9C180.7 360.7 176 352.7 176 344V167.1C176 159.3 180.7 151.3 188.3 147.1V147.1zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"></path>
                                                </svg></div>
                                            <div class="d-xl-flex justify-content-xl-end align-items-xl-center form-switch w-25"><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb-off text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg>Start</span></button><button class="btn btn-light" type="button" style="margin-right: 1em;padding-top: 3px;padding-right: 6px;padding-bottom: 3px;padding-left: 6px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bulb text-primary" style="font-size: 28px;">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7"></path>
                                                            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
                                                            <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
                                                        </svg></span>Stop</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Beschattung</button></h2>
        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
                <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Temperatur</button></h2>
        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
                <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4">Szene</button></h2>
        <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
                <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </div>
</div>